@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

html,body {
    background-color: #F0D1E7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    
}

/* Start Header */
header {
    /* border: 1px solid rgb(26, 255, 1); */
    background-color: #822B68;

    /* display: flex;
    justify-content: center;  */
}

nav {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* width: 1000px; */
}

.menu {
    /* background-color: bisque; */
    display: flex;
    list-style: none;  
}

li{
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    margin: auto 10px;
    display: flex;
    align-items: center;
}

.logo-name {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 16px;
}

/* End Header */

/* Start nmain-content */

.main-content {
    
    /* background-color: rgb(150, 150, 150); */

    /* width: 1000px; */
    margin-left: auto;
    margin-right: auto;
    
    max-width: 1000px;
    /* margin: auto; */

}

.box {
    background-color: white;
    /* width: 800px; */

    padding: 20px;
    margin: 30px 0px; 
}

.image {
    width: 100%;
}

.font-param {
    font-weight: 100;
}

.button {
    color: rgb(255, 255, 255);
    background-color: #0b4990;
    padding: 8px 24px;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
}

/* End nmain-content */





footer {
    background-color: #822B68;
    color: white;
    padding: 10px;
    text-align: center;
}